
@model ManagerViewModel
@{
	ViewData["Title"] = "Руководитель";
	int indexSlaid = 1;
	string getHostName = BaseService.GetHostName();
}

@section Stylesheet {
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" integrity="sha512-+EoPw+Fiwh6eSeRK7zwIKG2MA8i3rV/DGa3tdttQGgWyatG/SkncT53KHQaS5Jh9MNOT3dmFL0FjTY08And/Cw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="lightzoom/style.css" type="text/css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.3/css/selectize.bootstrap4.min.css" integrity="sha512-MMojOrCQrqLg4Iarid2YMYyZ7pzjPeXKRvhW9nZqLo6kPBBTuvNET9DBVWptAo/Q20Fy11EIHM5ig4WlIrJfQw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.3/css/selectize.min.css" integrity="sha512-bkB9w//jjNUnYbUpATZQCJu2khobZXvLP5GZ8jhltg7P/dghIrTaSJ7B/zdlBUT0W/LXGZ7FfCIqNvXjWKqCYA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

}

<section class="header">
	<div class="content">
		<div class="menu_flex">
			<div>
				<img src="~/img/logo.png">
			</div>
			<div>
				<a class="menu scrollto menu_of" href="@Model.NavBarLink_1" >@Model.NavBarTitle_1</a>
					<a class="menu scrollto menu1" href="@Model.NavBarLink_2" >@Model.NavBarTitle_2</a>
					<a class="menu scrollto menu2" href="@Model.NavBarLink_3" >@Model.NavBarTitle_3</a>
					<a class="menu scrollto menu3" href="@Model.NavBarLink_4" >@Model.NavBarTitle_4</a>
					<a class="menu_btn" href="@Model.NavBarLink_5">@Model.NavBarTitle_5</a>
			</div>
		</div>
	</div>
</section>

<section class="tophead2" id="toptop">
	<p class="zag_tophead2">секреты успешной<br><span>адаптации</span></p>
	<p class="text_tophead">роль и задачи руководителя</p>

	<p class="text_tophead2">Пожалуйста, выберите компанию, в которой вы работаете:</p>
	<form asp-action="FullIndex" method="post">
		<div class="fontziz">
			<select name="companyId" id="pet-select" asp-items="@ViewBag.Companies"></select>
			<button type="submit" class="btn_expo">ПОДКЛЮЧИТЬСЯ И УЗНАТЬ ВСЕ СЕКРЕТЫ</button>
		</div>
	</form>
</section>

<section class="top_video" id="vidtop">

	<img src="~/img/01.png" class="vid01">
	<img src="~/img/02.png" class="vid02">
	<img src="~/img/03.png" class="vid03">
	<img src="~/img/04.png" class="vid04">


	<div class="content">
		<p class="zag_top_video">ПОСМОТРИТЕ ВИДЕО<span>и узнайте, что вас ждет на курсе</span></p>

		<div class="video">
			<!--<img src="~/img/video.png">-->
			<div class="flipper">
				<div class="front">
					 <!--<video id="vid"  controls poster="~/img/video.png">
					    <source src="~/img/vid.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
					  </video>-->
					  <iframe id="vid" src="@Model.openingVideoPath" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>

					  <img class="bask" src="~/img/backk.png">
			  	</div>

			  	<div class="back">
					<a href="#test-popup0" class="open-popup-link"><img class="fontt" src="~/img/0t.png"></a>
					<a class="scact" href="~/@Model.contactFilePath" download="Story_manager_0.pdf">Скачать информацию</a>
					 <img class="baskd" src="~/img/baskd.png">
			  	</div>
			</div>
		</div>
	</div>
</section>

<div @*class="ofset_cul"*@>

<section class="slaid_big" id="rol">
	<div class="content">
		<p class="zag_sec">Карта историй</p>
		<p class="zag_slaid">Как помочь сотруднику успешно пройти период адаптации?</p>

		<div class="smol_slaid">
			<div>
				<div class="slaid_sm slaid1" id="slaid1">
					<span>@Html.Raw(@Model.storyMapsNumber_1)</span>
					<p>@Html.Raw(@Model.storyMapsName_1)</p>
				</div>
			</div>
			<div>
				<div class="slaid_sm slaid2" id="slaid2">
					<span>@Html.Raw(@Model.storyMapsNumber_2)</span>
					<p>@Html.Raw(@Model.storyMapsName_2)</p>
				</div>
			</div>
			<div>
				<div class="slaid_sm slaid3" id="slaid3">
					<span>@Html.Raw(@Model.storyMapsNumber_3)</span>
					<p>@Html.Raw(@Model.storyMapsName_3)</p>
				</div>
			</div>
			<div>
				<div class="slaid_sm slaid4" id="slaid4">
					<span>@Html.Raw(@Model.storyMapsNumber_4)</span>
					<p>@Html.Raw(@Model.storyMapsName_4)</p>
				</div>
			</div>
			<div>
				<div class="slaid_sm slaid5" id="slaid5">
					<span>@Html.Raw(@Model.storyMapsNumber_5)</span>
					<p>@Html.Raw(@Model.storyMapsName_5)</p>
				</div>
			</div>
			<div>
				<div class="slaid_sm slaid6" id="slaid6">
					<span>@Html.Raw(@Model.storyMapsNumber_6)</span>
					<p>@Html.Raw(@Model.storyMapsName_6)</p>
				</div>
			</div>
			<div>
				<div class="slaid_sm slaid7" id="slaid7">
					<span>@Html.Raw(@Model.storyMapsNumber_7)</span>
					<p>@Html.Raw(@Model.storyMapsName_7)</p>
				</div>
			</div>
			<div>
				<div class="slaid_sm slaid8" id="slaid8">
					<span>@Html.Raw(@Model.storyMapsNumber_8)</span>
					<p>@Html.Raw(@Model.storyMapsName_8)</p>
				</div>
			</div>
			<div>
				<div class="slaid_sm slaid9" id="slaid9">
					<span>@Html.Raw(@Model.storyMapsNumber_9)</span>
					<p>@Html.Raw(@Model.storyMapsName_9)</p>
				</div>
			</div>
			<div>
				<div class="slaid_sm slaid10" id="slaid10">
					<span>@Html.Raw(@Model.storyMapsNumber_1)</span>
					<p>@Html.Raw(@Model.storyMapsName_10)</p>
				</div>
			</div>
		</div>
	
		<div class="big_slaid">
			<div><div class="slaid_flex">
				<div class="left_text">
					<p class="zg1">@Html.Raw(@Model.storyMapsTittle_1) </p>
					<p class="tx1">@Html.Raw(@Model.storyMapsSubtitle_1_1)</p>
					<p class="tx1">@Html.Raw(@Model.storyMapsSubtitle_2_1)</p>
					<a class="sl_hr_1 slhh1" >01 послушайте историю</a>
					<a class="sl_hr_2 fff1">02 изучите информацию</a>
				</div>
				<div class="folder1">
					<div class="flipper1">
						<div class="front1">
						  	<iframe id="vid1" src="@Model.storyMapsVideoPath_1"  frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
						  	<img class="bask1" src="~/img/backk.png">
				  		</div>
				  		<div class="back1">
							<a href="#test-popup1" class="open-popup-link"><img class="fontt1" src="~/img/1t.png"></a>
							<a class="scact1" href="@Model.storyMapsFilePath_1" download>Скачать информацию</a>
							<img class="baskd1" src="~/img/baskd.png">
					  	</div>
					</div>
				</div>
			</div></div>
			<div><div class="slaid_flex">
				<div class="left_text">
					<p class="zg1">@Html.Raw(@Model.storyMapsTittle_2) </p>
					<p class="tx1">@Html.Raw(@Model.storyMapsSubtitle_1_2)</p>
					<p class="tx1">@Html.Raw(@Model.storyMapsSubtitle_2_2)</p>
					<a class="sl_hr_1 slhh2" >01 послушайте историю</a>
					<a class="sl_hr_2 fff2">02 изучите информацию</a>
				</div>
				<div class="folder2">
					<div class="flipper2">
						<div class="front2">
						  	<iframe id="vid2" src="@Model.storyMapsVideoPath_2"  frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
						  	<img class="bask2" src="~/img/backk.png">
				  		</div>
				  		<div class="back2">
							<a href="#test-popup2" class="open-popup-link"><img class="fontt2" src="~/img/2t.png"></a>
							<a class="scact2" href="@Model.storyMapsFilePath_2" download>Скачать информацию</a>
							<img class="baskd2" src="~/img/baskd.png">
					  	</div>
					</div>
				</div>
			</div></div>

			<div><div class="slaid_flex">
				<div class="left_text">
					<p class="zg1">@Html.Raw(@Model.storyMapsTittle_3) </p>
					<p class="tx1">@Html.Raw(@Model.storyMapsSubtitle_1_3)</p>
					<p class="tx1">@Html.Raw(@Model.storyMapsSubtitle_2_3)</p>
					<a class="sl_hr_1 slhh3" >01 послушайте историю</a>
					<a class="sl_hr_2 fff3" >02 изучите информацию</a>
				</div>
				<div class="folder3">
					<div class="flipper3">
						<div class="front3">
						  	<iframe id="vid3" src="@Model.storyMapsVideoPath_3" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
						  	<img class="bask3" src="~/img/backk.png">
				  		</div>
				  		<div class="back3">
							<a href="#test-popup3" class="open-popup-link"><img class="fontt3" src="~/img/3t.png"></a>
							<a class="scact3" href="@Model.storyMapsFilePath_3" download>Скачать информацию</a>
							<img class="baskd3" src="~/img/baskd.png">
					  	</div>
					</div>
				</div>
			</div></div>

			<div><div class="slaid_flex">
				<div class="left_text">
					<p class="zg1">@Html.Raw(@Model.storyMapsTittle_4) </p>
					<p class="tx1">@Html.Raw(@Model.storyMapsSubtitle_1_4)</p>
					<p class="tx1">@Html.Raw(@Model.storyMapsSubtitle_2_4)</p>
					<a class="sl_hr_1 slhh4">01 послушайте историю</a>
					<a class="sl_hr_2 fff4" >02 изучите информацию</a>
				</div>
				<div class="folder4">
					<div class="flipper4">
						<div class="front4">
						  	<iframe id="vid4" src="@Model.storyMapsVideoPath_4" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
						  	<img class="bask4" src="~/img/backk.png">
				  		</div>
				  		<div class="back4">
							<a href="#test-popup4" class="open-popup-link"><img class="fontt4" src="~/img/4t.png"></a>
							<a class="scact4" href="@Model.storyMapsFilePath_4" download>Скачать информацию</a>
							<img class="baskd4" src="~/img/baskd.png">
					  	</div>
					</div>
				</div>
			</div></div>

			<div><div class="slaid_flex">
				<div class="left_text">
					<p class="zg1">​​​​​​​@Html.Raw(@Model.storyMapsTittle_5) </p>
					<p class="tx1">@Html.Raw(@Model.storyMapsSubtitle_1_5)</p>
					<p class="tx1">@Html.Raw(@Model.storyMapsSubtitle_2_5)</p>
					<a class="sl_hr_1 slhh5" >01 послушайте историю</a>
					<a class="sl_hr_2 fff5" >02 изучите информацию</a>
				</div>
				<div class="folder5">
					<div class="flipper5">
						<div class="front5">
						  	<iframe id="vid5" src="@Model.storyMapsVideoPath_5" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
						  	<img class="bask5" src="~/img/backk.png">
				  		</div>
				  		<div class="back5">
							<a href="#test-popup5" class="open-popup-link"><img class="fontt5" src="~/img/5t.png"></a>
							<a class="scact5" href="@Model.storyMapsFilePath_5" download >Скачать информацию</a>
							<img class="baskd5" src="~/img/baskd.png">
					  	</div>
					</div>
				</div>
			</div></div>


			<div><div class="slaid_flex">
				<div class="left_text">
					<p class="zg1">@Html.Raw(@Model.storyMapsTittle_6) </p>
					<p class="tx1">@Html.Raw(@Model.storyMapsSubtitle_1_6)</p>
					<p class="tx1">@Html.Raw(@Model.storyMapsSubtitle_2_6)</p>
					<a class="sl_hr_1 slhh6" >01 послушайте историю</a>
					<a class="sl_hr_2 fff6" >02 изучите информацию</a>
				</div>
				<div class="folder6">
					<div class="flipper6">
						<div class="front6">
						  	<iframe id="vid6" src="@Model.storyMapsVideoPath_6" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
						  	<img class="bask6" src="~/img/backk.png">
				  		</div>
				  		<div class="back6">
							<a href="#test-popup6" class="open-popup-link"><img class="fontt6" src="~/img/6t.png"></a>
							<a class="scact6" href="@Model.storyMapsFilePath_6" download>Скачать информацию</a>
							<img class="baskd6" src="~/img/baskd.png">
					  	</div>
					</div>
				</div>
			</div></div>

			<div><div class="slaid_flex">
				<div class="left_text">
					<p class="zg1">@Html.Raw(@Model.storyMapsTittle_7) </p>
					<p class="tx1">@Html.Raw(@Model.storyMapsSubtitle_1_7)</p>
					<p class="tx1">@Html.Raw(@Model.storyMapsSubtitle_2_7)</p>
					<a class="sl_hr_1 slhh7" >01 послушайте историю</a>
					<a class="sl_hr_2 fff7" >02 изучите информацию</a>
				</div>
				<div class="folder7">
					<div class="flipper7">
						<div class="front7">
						  	<iframe id="vid7" src="@Model.storyMapsVideoPath_7"  frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
						  	<img class="bask7" src="~/img/backk.png">
				  		</div>
				  		<div class="back7">
							<a href="#test-popup7" class="open-popup-link"><img class="fontt7" src="~/img/7t.png"></a>
							<a class="scact7" href="@Model.storyMapsFilePath_7" download>Скачать информацию</a>
							<img class="baskd7" src="~/img/baskd.png">
					  	</div>
					</div>
				</div>
			</div></div>

			<div><div class="slaid_flex">
				<div class="left_text">
					<p class="zg1">@Html.Raw(@Model.storyMapsTittle_8) </p>
					<p class="tx1">@Html.Raw(@Model.storyMapsSubtitle_1_8)</p>
					<p class="tx1">@Html.Raw(@Model.storyMapsSubtitle_2_8)</p>
					<a class="sl_hr_1 slhh8" >01 послушайте историю</a>
					<a class="sl_hr_2 fff8" >02 изучите информацию</a>
				</div>
				<div class="folder8">
					<div class="flipper8">
						<div class="front8">
						  	<iframe src="@Model.storyMapsVideoPath_8" id="vid8" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
						  	<img class="bask8" src="~/img/backk.png">
				  		</div>
				  		<div class="back8">
							<a href="#test-popup8" class="open-popup-link"><img class="fontt8" src="~/img/8t.png"></a>
							<a class="scact8" href="@Model.storyMapsFilePath_8" download>Скачать информацию</a>
							<img class="baskd8" src="~/img/baskd.png">
					  	</div>
					</div>
				</div>
			</div></div>

			<div><div class="slaid_flex">
				<div class="left_text">
					<p class="zg1">​​​​​​​@Html.Raw(@Model.storyMapsTittle_9) </p>
					<p class="tx1">@Html.Raw(@Model.storyMapsSubtitle_1_9)</p>
					<p class="tx1">@Html.Raw(@Model.storyMapsSubtitle_2_9)</p>
					<a class="sl_hr_1 slhh9" >01 послушайте историю</a>
					<a class="sl_hr_2 fff9" >02 изучите информацию</a>
				</div>
				<div class="folder9">
					<div class="flipper9">
						<div class="front9">
						  	<iframe src="@Model.storyMapsVideoPath_9" id="vid9" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
						  	<img class="bask9" src="~/img/backk.png">
				  		</div>
				  		<div class="back9">
							<a href="#test-popup9" class="open-popup-link"><img class="fontt9" src="~/img/9t.png"></a>
							<a class="scact9" href="@Model.storyMapsFilePath_9" download>Скачать информацию</a>
							<img class="baskd9" src="~/img/baskd.png">
					  	</div>
					</div>
				</div>
			</div></div>

			<div><div class="slaid_flex">
				<div class="left_text">
					<p class="zg1">@Html.Raw(@Model.storyMapsTittle_10) </p>
					<p class="tx1">@Html.Raw(@Model.storyMapsSubtitle_1_10)</p>
					<p class="tx1">@Html.Raw(@Model.storyMapsSubtitle_2_10)</p>
					<a class="sl_hr_1 slhh11" >01 послушайте историю</a>
					<a class="sl_hr_2 fff11" >02 изучите информацию</a>
				</div>
				<div class="folder11">
					<div class="flipper11">
						<div class="front11">
						  	<iframe src="@Model.storyMapsVideoPath_10" id="vid11" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
						  	<img class="bask11" src="~/img/backk.png">
				  		</div>
				  		<div class="back11">
							<a href="#test-popup10" class="open-popup-link"><img class="fontt11" src="~/img/10t.png"></a>
							<a class="scact11" href="@Model.storyMapsFilePath_10" download>Скачать информацию</a>
							<img class="baskd11" src="~/img/baskd.png">
					  	</div>
					</div>
				</div>
			</div></div>

			
		</div>
		
	</div>

</section>

<div class="content" id="bg_white"><p class="zag_sec2">Задачи руководителя</p></div>

<section >
	<div class="content">
		<div class="bg_white">
			<p class="wh_zag">@Html.Raw(@Model.userTaskTittle)</p>
			<p class="text_wh_bold">@Html.Raw(@Model.userTaskSubtittle)</p>
			<p class="text_wh" style="margin-bottom: 0px;">@Html.Raw(@Model.userTaskText) <!--<a href="#cont" class="scrollto">«Полезные контакты»</a>--></p>

			<div class="flex_wh">
				@foreach (var item in Model.userTaskItems){
					<div><div class="ttd"><p>@Html.Raw(@item.name)</p></div></div>
				}
			</div>

			<div class="don">
				<a href="..\..\..\@Model.userTaskFilePath" download><img src="~/img/don.png"></a>
				<a href="..\..\..\@Model.userTaskFilePath" download><p>Скачать задачи руководителя</p></a>
			</div>
		</div>



		<div class="white_slaider">
			<div class="slaid">
				@foreach (var item in Model.userTaskItems){
					<div>
						<p class="sla_zag">@Html.Raw(@item.tittle)</p>

							@{
								int paragCount = item.paragraphs.Count();
								string raspClass = "r_s_m_t";

								foreach (var parag in item.paragraphs){
									if(paragCount%2 == 0)
									{
										raspClass = "l_s_m_t";
									}
									paragCount = paragCount - 1;
									<div class="@raspClass">
								<div class="restorflex">
										<div class="dots">
											<p class="dots_zag">@Html.Raw(parag.tittle)</p>
											<p class="dots_text">@Html.Raw(parag.subtittle)</p>
										</div>
										<div class="donload">
											@foreach (var file in parag.files){
												<a href="..\..\..\@file.path" download><img src="~/img/don.png">
												<p style="margin-top: 10px;">@Html.Raw(file.name)</p></a>
											}
											@foreach (var link in parag.links){
												<a href="@getHostName/@link.link">
													@Html.Raw(link.icon) @link.name
												</a>
											}
										</div>
								</div>
							
							</div>
							}}
					</div>
				}
			</div>
		</div>
	</div>
</section>

<section class="otvety">
	<div class="content">
		<div class="bg_white">
			<p class="sla_zag">О чем важно не забывать?</p>
			<p class="sla_text">Мы подготовили несколько простых советов, которые помогут эффективно провести весь период адаптации: </p>

			<div class="dot_flex">
				
				<div>
					<div class="dot_flex_punt">
						<div><img src="~/img/1.png"></div>
						<div>
							<p class="fix_zag">@Html.Raw(@Model.Tittle_1)</p>
							<p class="fix_text">@Html.Raw(@Model.Subtittle_1)</p>
						</div>
					</div>
				</div>

				<div>
					<div class="dot_flex_punt">
						<div><img src="~/img/2.png"></div>
						<div>
							<p class="fix_zag">@Html.Raw(@Model.Tittle_2)</p>
							<p class="fix_text">@Html.Raw(@Model.Subtittle_2)</p>
							
						</div>
					</div>
				</div>

				<div>
					<div class="dot_flex_punt">
						<div><img src="~/img/3.png"></div>
						<div>
							<p class="fix_zag">@Html.Raw(@Model.Tittle_3)</p>
							<p class="fix_text">@Html.Raw(@Model.Subtittle_3)</p>
						</div>
					</div>
				</div>

				<div>
					<div class="dot_flex_punt">
						<div><img src="~/img/4.png"></div>
						<div>
							<p class="fix_zag">@Html.Raw(@Model.Tittle_4)</p>
							<p class="fix_text">@Html.Raw(@Model.Subtittle_4)</p>
						</div>
					</div>
				</div>

				<div>
					<div class="dot_flex_punt">
						<div><img src="~/img/5.png"></div>
						<div>
							<p class="fix_zag">@Html.Raw(@Model.Tittle_5)</p>
							<p class="fix_text">@Html.Raw(@Model.Subtittle_5)</p>
						</div>
					</div>
				</div>

			</div>

		</div>
	</div>



	<div class="bg_fon"></div>
</section>

<section class="contact">
	<div class="content">
			<div class="blufon" id="cont">
				<p class="contact_zag">ПОЛЕЗНЫЕ КОНТАКТЫ</p>
					<div class="slaid_contact nmg_slaid">
						@foreach (var item in Model.contactItems){
							
									<div>
										<div class="contact_flex">
											<div class="box">
												<p class="qr">@Html.Raw(@item.tittle)</p>
												<div class="dt"><p>@Html.Raw(@item.text)</p></div>
												<div class="cont_info">
													<p class="name">@Html.Raw(@item.phoneName)</p>
													<p class="phhp">@Html.Raw(@item.phoneNumber)</p>
													<p><a href="mailto:@item.email">@Html.Raw(@item.email)</a></p>
												</div>
											</div>
										</div>
									</div>
							
						}
					</div>
			</div>
	</div>
	<div class="bg_fon2"></div>
</section>

</div>




<div id="test-popup0" class="white-popup mfp-hide">
  <img  src="~/img/0t.png">
</div>
<div id="test-popup1" class="white-popup mfp-hide">
  <img  src="~/img/1t.png">
</div>
<div id="test-popup2" class="white-popup mfp-hide">
	<div class="osn1 osn">
  		<img  src="~/img/2t.png">
  		<p class="per1 per" data-per='ppop1'>.</p>
  		<p class="per2 per" data-per='ppop2'>.</p>
  		<p class="per3 per" data-per='ppop3'>.</p>
  		<p class="per4 per" data-per='ppop4'>.</p>
  	</div>
  	<div class="ppop ppop1">
  		<img  src="~/img/21.png">
  		<p class="pper1 per" data-per='osn1'>.</p>
  	</div>
  	<div class="ppop ppop2">
  		<img  src="~/img/22.png">
  		<p class="pper2 per" data-per='osn1'>.</p>
  	</div>
  	<div class="ppop ppop3">
  		<img  src="~/img/23.png">
  		<p class="pper3 per" data-per='osn1'>.</p>
  	</div>
  	<div class="ppop ppop4">
  		<img  src="~/img/24.png">
  		<p class="pper4 per" data-per='osn1'>.</p>
  	</div>
</div>
<div id="test-popup3" class="white-popup mfp-hide">
	<div class="osn31 osn">
  		<img  src="~/img/3t.png">
  		<p class="per31 per" data-per='ppop31'>.</p>
  		<p class="per32 per" data-per='ppop32'>.</p>
  		<p class="per33 per" data-per='ppop33'>.</p>
  		<p class="per34 per" data-per='ppop34'>.</p>
  	</div>
  	<div class="ppop ppop31">
  		<img  src="~/img/31.png">
  		<p class="pper31 per" data-per='osn31'>.</p>
  	</div>
  	<div class="ppop ppop32">
  		<img  src="~/img/32.png">
  		<p class="pper32 per" data-per='osn31'>.</p>
  	</div>
  	<div class="ppop ppop33">
  		<img  src="~/img/33.png">
  		<p class="pper33 per" data-per='osn31'>.</p>
  	</div>
  	<div class="ppop ppop34">
  		<img  src="~/img/34.png">
  		<p class="pper34 per" data-per='osn31'>.</p>
  	</div>
  
</div>
<div id="test-popup4" class="white-popup mfp-hide">
  <div class="osn41 osn">
  		<img  src="~/img/4t.png">
  		<p class="per41 per" data-per='ppop41'>.</p>
  		<p class="per42 per" data-per='ppop42'>.</p>
  		<p class="per43 per" data-per='ppop43'>.</p>
  		<p class="per44 per" data-per='ppop44'>.</p>
  		<a class="don_pip4" href="4.pdf" download="4.pdf">.</a>
  	</div>
  	<div class="ppop ppop41">
  		<img  src="~/img/41.png">
  		<p class="pper41 per" data-per='osn41'>.</p>

  	</div>
  	<div class="ppop ppop42">
  		<img  src="~/img/42.png">
  		<p class="pper42 per" data-per='osn41'>.</p>
  	</div>
  	<div class="ppop ppop43">
  		<img  src="~/img/43.png">
  		<p class="pper43 per" data-per='osn41'>.</p>
  	</div>
  	<div class="ppop ppop44">
  		<img  src="~/img/44.png">
  		<p class="pper44 per" data-per='osn41'>.</p>
  	</div>
</div>
<div id="test-popup5" class="white-popup mfp-hide">
   <div class="osn51 osn">
  		<img  src="~/img/5t.png">
  		<p class="per51 per" data-per='ppop51'>.</p>
  		<p class="per52 per" data-per='ppop52'>.</p>
  		<p class="per53 per" data-per='ppop53'>.</p>
  		<p class="per54 per" data-per='ppop54'>.</p>
  	</div>
  	<div class="ppop ppop51">
  		<img  src="~/img/51.png">
  		<p class="pper51 per" data-per='osn51'>.</p>
  	</div>
  	<div class="ppop ppop52">
  		<img  src="~/img/52.png">
  		<p class="pper52 per" data-per='osn51'>.</p>
  	</div>
  	<div class="ppop ppop53">
  		<img  src="~/img/53.png">
  		<p class="pper53 per" data-per='osn51'>.</p>
  	</div>
  	<div class="ppop ppop54">
  		<img  src="~/img/54.png">
  		<p class="pper54 per" data-per='osn51'>.</p>
  	</div>
</div>
<div id="test-popup6" class="white-popup mfp-hide">
   <div class="osn61 osn">
  		<img  src="~/img/6t.png">
  		<p class="per61 per" data-per='ppop61'>.</p>
  		<p class="per62 per" data-per='ppop62'>.</p>
  		<p class="per63 per" data-per='ppop63'>.</p>
  	</div>
  	<div class="ppop ppop61">
  		<img  src="~/img/61.png">
  		<p class="pper61 per" data-per='osn61'>.</p>
  	</div>
  	<div class="ppop ppop62">
  		<img  src="~/img/62.png">
  		<p class="pper62 per" data-per='osn61'>.</p>
  	</div>
  	<div class="ppop ppop63">
  		<img  src="~/img/63.png">
  		<p class="pper63 per" data-per='osn61'>.</p>
  	</div>
  	
</div>
<div id="test-popup7" class="white-popup mfp-hide">
   <div class="osn71 osn">
  		<img  src="~/img/7t.png">
  		<p class="per71 per" data-per='ppop71'>.</p>
  		<p class="per72 per" data-per='ppop72'>.</p>
  	</div>
  	<div class="ppop ppop71">
  		<img  src="~/img/71.png">
  		<p class="pper71 per" data-per='osn71'>.</p>
  	</div>
  	<div class="ppop ppop72">
  		<img  src="~/img/72.png">
  		<p class="pper72 per" data-per='osn71'>.</p>
  	</div>
</div>
<div id="test-popup8" class="white-popup mfp-hide">
  <div class="osn81 osn">
  		<img  src="~/img/8t.png">
  		<p class="per81 per" data-per='ppop81'>.</p>
  		<p class="per82 per" data-per='ppop82'>.</p>
  		<p class="per83 per" data-per='ppop83'>.</p>
  		<p class="per84 per" data-per='ppop84'>.</p>
  		<p class="per85 per" data-per='ppop85'>.</p>
  		<p class="per86 per" data-per='ppop86'>.</p>
  		<p class="per87 per" data-per='ppop87'>.</p>
  		<p class="per88 per" data-per='ppop88'>.</p>
  		<p class="per89 per" data-per='ppop89'>.</p>
  		<p class="per810 per" data-per='ppop810'>.</p>
  	</div>
  	<div class="ppop ppop81">
  		<img  src="~/img/81.png">
  		<p class="pper81 per" data-per='osn81'>.</p>
  	</div>
  	<div class="ppop ppop82">
  		<img  src="~/img/82.png">
  		<p class="pper82 per" data-per='osn81'>.</p>
  	</div>
  	<div class="ppop ppop83">
  		<img  src="~/img/83.png">
  		<p class="pper83 per" data-per='osn81'>.</p>
  	</div>
  	<div class="ppop ppop84">
  		<img  src="~/img/84.png">
  		<p class="pper84 per" data-per='osn81'>.</p>
  	</div>
  	<div class="ppop ppop85">
  		<img  src="~/img/85.png">
  		<p class="pper85 per" data-per='osn81'>.</p>
  	</div>
  	<div class="ppop ppop86">
  		<img  src="~/img/86.png">
  		<p class="pper86 per" data-per='osn81'>.</p>
  	</div>
  	<div class="ppop ppop87">
  		<img  src="~/img/87.png">
  		<p class="pper87 per" data-per='osn81'>.</p>
  	</div>
  	<div class="ppop ppop88">
  		<img  src="~/img/88.png">
  		<p class="pper88 per" data-per='osn81'>.</p>
  	</div>
  	<div class="ppop ppop89">
  		<img  src="~/img/89.png">
  		<p class="pper89 per" data-per='osn81'>.</p>
  	</div>
  	<div class="ppop ppop810">
  		<img  src="~/img/810.png">
  		<p class="pper810 per" data-per='osn81'>.</p>
  	</div>
</div>
<div id="test-popup9" class="white-popup mfp-hide">
   <div class="osn91 osn">
  		<img  src="~/img/9t.png">
  		<p class="per91 per" data-per='ppop91'>.</p>
  		<p class="per92 per" data-per='ppop92'>.</p>
  		<p class="per93 per" data-per='ppop93'>.</p>
  		<p class="per94 per" data-per='ppop94'>.</p>
  		<p class="per95 per" data-per='ppop95'>.</p>
  	</div>
  	<div class="ppop ppop91">
  		<img  src="~/img/91.png">
  		<p class="pper91 per" data-per='osn91'>.</p>
  	</div>
  	<div class="ppop ppop92">
  		<img  src="~/img/92.png">
  		<p class="pper92 per" data-per='osn91'>.</p>
  	</div>
  	<div class="ppop ppop93">
  		<img  src="~/img/93.png">
  		<p class="pper93 per" data-per='osn91'>.</p>
  	</div>
  	<div class="ppop ppop94">
  		<img  src="~/img/94.png">
  		<p class="pper94 per" data-per='osn91'>.</p>
  	</div>
  	<div class="ppop ppop95">
  		<img  src="~/img/95.png">
  		<p class="pper95 per" data-per='osn91'>.</p>
  	</div>
</div>
<div id="test-popup10" class="white-popup mfp-hide">
  <img  src="~/img/10t.png">
</div>

@section Scripts {
	<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script type="text/javascript" src="~/js/lightzoom.js"></script>
	<script type="text/javascript" src="~/js/blowup.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/microplugin/0.0.3/microplugin.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/sifter/0.5.4/sifter.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.3/js/selectize.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js" integrity="sha512-IsNh5E3eYy3tr/JiX2Yx4vsCujtkhwl7SLqgnwLNgf04Hrt9BT9SXlLlZlWx+OK4ndzAoALhsMNcCmkggjZB1w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	
	<script src="https://player.vimeo.com/api/player.js"></script>
	<script src="~/js/js_ruk.js"></script>

}